html
  head
    link(rel='stylesheet', href='/stylesheets/style.css').
  body
    script(src='/javascripts/EventDispatcher.js').
    script(src='/javascripts/Tween.js').
    script(src='/javascripts/ParticleEngine.js')
    script(src='/javascripts/three.js').
    script(src='/javascripts/keymap.js').
    script(src='/javascripts/rifter.js').